Do you want to install & run ucaresystem-core ? [y/N]
Y
Do you want to change system date as per your timezone ? [y/N]
Y
Please enter the timezone (default 'Asia/Kolkata')
Asia/Kolkata
Do you want to install new apps ? [y/N]
Y
Please enter app names seperated by space
neofetch htop nano cmatrix nnn
Do you want to install Docker ? [y/N]
Y
Do you want to Reset Docker ? [y/N]
Y
Do you want to deploy Docker containers ? [y/N]
Y
Please enter the numbers seperated by space
1
Please enter the username
kamesh