Do you want to install & run ucaresystem-core ? [y/N]
Y
Do you want to change system date as per your timezone ? [y/N]
Y
Please enter the timezone (e.g. 'Asia/Kolkata')
Asia/Kolkata
Do you want to install new apps ? [y/N]
Y
Please enter app names seperated by space
neofetch htop nano
Do you want to install Docker ? [y/N]
Y